@import "@fontsource-variable/geist";
@import "@mantine/core/styles.css";

@theme {
	--color-base-white: #fdfdfd;
	--color-base-50: #f5f6f6;
	--color-base-100: #e6e7e7;
	--color-base-200: #d0d1d1;
	--color-base-300: #aeb2b2;
	--color-base-400: #868a89;
	--color-base-500: #6b6f6e;
	--color-base-600: #5b5f5f;
	--color-base-700: #505353;
	--color-base-800: #444646;
	--color-base-900: #3c3d3d;
	--color-base-950: #252627;

	--color-primary-50: #f5f8f7;
	--color-primary-100: #dfe8e6;
	--color-primary-200: #bed1cd;
	--color-primary-300: #96b2ae;
	--color-primary-400: #70918d;
	--color-primary-500: #567673;
	--color-primary-600: #435e5c;
	--color-primary-700: #3c5250;
	--color-primary-800: #303f3e;
	--color-primary-900: #2b3636;
	--color-primary-950: #151e1e;
}

:root {
	font-family:
		"Geist Variable", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--color-base-white: #fdfdfd;
	--color-base-50: #f5f6f6;
	--color-base-100: #e6e7e7;
	--color-base-200: #d0d1d1;
	--color-base-300: #aeb2b2;
	--color-base-400: #868a89;
	--color-base-500: #6b6f6e;
	--color-base-600: #5b5f5f;
	--color-base-700: #505353;
	--color-base-800: #444646;
	--color-base-900: #3c3d3d;
	--color-base-950: #252627;

	--color-focus: #3b82f6;

	--default-transition-duration: 50ms;

	color-scheme: light dark;
	color: var(--color-base-950);
	background-color: var(--color-base-white);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--toastify-color-light: var(--mantine-color-base-2);
	--toastify-text-color-light: var(--mantine-color-base-8);
	--toastify-color-info: var(--mantine-color-blue-6);
	--toastify-color-success: #4caf50;
	--toastify-color-warning: #ff9800;
	--toastify-color-error: #f44336;
	--toastify-toast-bd-radius: 0px;
	--toastify-toast-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	display: contents;
}

button {
	cursor: pointer;
}

input:focus-within,
textarea:focus-within,
select:focus-within,
input[class*="mantine"]:focus,
textarea[class*="mantine"]:focus,
select[class*="mantine"]:focus {
	outline: 2px solid var(--color-focus);
	outline-offset: -1px;
}

.center-vertical {
	display: flex;
	align-items: center;
}
